{{ define "partials/index_divetypes_main.html" }}


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dive Types</th>
                <th>Letter</th>
                {{ if or .logged_in .test_run }}
                <th>Edit Type</th>
                <th>Delete Type</th>
                {{ end }}
            </tr>
        </thead>
    
    <tbody>
      {{ $logged_in := .logged_in }} <!-- Store the logged_in value in a variable for the loop -->
      {{ $test_run := .test_run }} <!-- Store the test_run value in a variable for the loop -->
    
      {{ range .divetypes }}
        <tr>
          <td><a href="/admin/divetypes/{{ .ID }}">{{ .Name }}</td></a>
          <td>{{ .Letter }}</td>
            {{ if or $logged_in $test_run }}
              <td><a class="btn btn-outline-primary" href="/admin/divetypes/edit/{{ .ID }}" role="button">Edit Type</a></td>
              <td><a class="btn btn-outline-danger" href="/admin/divetypes/{{ .ID }}" role="button" onclick="sendDelete(event, this.href)">Delete Type</a></td>
            {{ end }}
          </tr>
      {{ else }}
          <tr>
          <td colspan="3">No Dive Types yet</td>
        </tr>
          
      {{ end }}
    
    </table>



{{ end }}
