{{ define "partials/new_marker_main.html" }}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>{{ .header }}</h1>
            <form action="/admin/markers" method="POST">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="name" class="form-control" id="name" aria-describedby="nameHelp" name="name">
                  <div id="nameHelp" class="form-text">Marker (State or campaign) </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="5" name="description"></textarea>
                </div>
              
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>   
        </div>
    </div>
</div>
{{ end }}