{{ define "partials/show_teamtype_main.html" }}
{{ if or .logged_in .test_run }}
<a class="btn btn-outline-primary" href="/admin/teamType/edit/{{ .teamType.ID }}" role="button">Edit </a>
<a class="btn btn-outline-danger" href="/admin/teamType/{{ .teamType.ID }}" role="button" onclick="sendDelete(event, this.href)">Delete </a>   
{{ end }}
    <!-- Post Content-->
       <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    Team Type: {{ .teamType.Name }}
                </div>
            </div>
        </div>
    </article>
{{ end }}